<%- include('./partials/html-header') %>

<h1><%= category.charAt(0).toUpperCase() + category.slice(1).toLowerCase() %></h1>
<ul> <% menuItems.forEach(dish => { %>  
    <li><%= dish.name %><% if(dish.rating >= 5) { %>
        <p style="display: inline;">⭐</p>
      <% } %>  - $<%= dish.price %></li>
        <ul>
            <li><%= dish.details %></li>
            <li> Customer Rating <%= dish.rating %></li>
        </ul>
    <% }) %>
</ul>

<%- include('./partials/html-footer') %>