<%- include('./partials/html-header') %>

  <h1><%= greenByteBistro.name %></h1>
  <address><%= greenByteBistro.address %></address>
  <p><%= greenByteBistro.phone %></p>
  <% if(greenByteBistro.isOpen ===true) { %>
    <p>Yes we are open!</p>
  <% } else { %>
    <p>Sorry, we are closed.</p>
  <% } %>

  <%- include('./partials/footer.ejs') %>
