<%- include('./partials/html-header') %>

  <h1>Full Menu</h1>
  <h2>Mains</h2>
    <ul>
    <% greenByteBistro.menu.forEach(dish => {
        if(dish.category === 'mains') { %>
            <li><%= dish.name %> <% if(dish.rating >= 5) { %>
        <p style="display: inline;">⭐</p>
      <% } %>- $<%= dish.price %></li>
                <ul><li><%= dish.details %>.</li>
                    <li> Customer Rating <%= dish.rating %></li></ul>
        <% } 
    }) %>
    </ul>
  <h2>Sides</h2>
  <ul>
    <% greenByteBistro.menu.forEach(dish => {
        if(dish.category === 'sides') { %>
            <li><%= dish.name %><% if(dish.rating >= 5) { %>
        <p style="display: inline;">⭐</p>
      <% } %> - $<%= dish.price %></li>
                <ul><li><%= dish.details %></li>
                    <li> Customer Rating <%= dish.rating %></li></ul>
        <% } 
    }) %>
    </ul>
    <h2>Desserts</h2>
    <ul>
    <% greenByteBistro.menu.forEach(dish => {
        if(dish.category === 'desserts') { %>
            <li><%= dish.name %><% if(dish.rating >= 5) { %>
        <p style="display: inline;">⭐</p>
      <% } %> - $<%= dish.price %></li>
                <ul><li><%= dish.details %></li>
                    <li> Customer Rating <%= dish.rating %></li></ul>
        <% } 
    }) %>
    <%- include('./partials/footer.ejs') %>

